@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container {
    display: grid;
}

.main {
    height: 100vh;

    grid-template-columns: 1.3fr 5fr;
    grid-template-rows: 1.2fr 4fr;
}

.main>* {
    border: 2px solid red;
}

.sidebar {
    color: #ffffff;
    grid-row: 1/3;
    background-color: #1992d4;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;

}

.sidebar-header {
    font-size: 2rem;

}

.sidebar-menu,
.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;

    margin-left: 0.7rem;
}

.sidebar-item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar-item:hover {
    cursor: pointer;
}

.big-icon {
    width: 52px;
    height: 52px;
}

.small-icon {
    width: 24px;
    height: 24px;
}

.small-icon,
.big-icon {
    /* turns black icons to white */
    filter: invert(100%) brightness(200%);
}